@import '../../../generalStyles/variables.scss';
@import '../../../generalStyles/mixins.scss';

.container{
    display: none;
    list-style:outside;
    border-radius: 5px;
    background-color: $accent-color;
    position: absolute; 
    top: 35px;
    right: 0;
    z-index: 1;
    & a{
        color: $bg-color;
        font-family: $raleway-Reg;
        padding-left: 5px;
        padding-right: 5px;
        transition: color 0.3s;
        &:hover{
            color: $text-color;
        }
    }
    @include tablet{
        display: block;
    }
    @include mobile{
        top: 30px;
        display: block;
    }
}