@import '../../../generalStyles/mixins.scss';
@import '../../../generalStyles/variables.scss';

.container{
    margin-top: 72px;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        'img info sideImg'
        'img info sideImg'
        'img info sideImg'
        'img info bar'
    ;
    @include tablet{
        grid-template-columns: 358px auto;
        grid-template-rows: unset;
        grid-template-areas: 
            'img info'
            'bar bar'
        ;
        margin-top: 56px;
    }
    @include mobile{
        grid-template-rows: unset;
        grid-template-areas: 
            'sideImg'
            'bar'
        ;
        margin-top: 56px;
    }
}

.imgContainer{
    grid-area: img;
    @include tablet{
        width: 338px;
        height: 379px;
    }
    @include mobile{
        display: none;   
    }
}

.nameContainer{
    grid-area: name;
    display: flex;
    align-items: end;
    padding-left: 26px;
    padding-right: 26px;
}
.name{
    font-family: $raleway-Reg;
    font-size: 20px;
    color: $text-color;
}

.descContainer{
    grid-area: desc;
    display: flex;
    align-items: end;
    max-width: 252px;
    padding-left: 26px;
    // padding-right: 26px;
    @include tablet{
        max-width: 338px;   
        padding-right: 26px;
    }
}
.desc{
    font-family: $raleway-Reg;
    font-size: 14px;
    color: $text-color;
}

.infoContainer{
    
    grid-area: info;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        'name'
        'desc'
        'none'
        'none'
    ;
    border: 1px solid #CBC9C1;
    max-width: 305px;
    @include tablet{
        max-height: 379px;  
        max-width: 338px; 
    }
    @include mobile{
        display: none;   
    }
}

.sideImgContainer{
    grid-area: sideImg;
    display: flex;
    justify-content: space-between;
    margin-left: 81px;
    @include tablet{
        display: none;   
    }
    @include mobile{
        margin-left: 0;
        // width: 328;
        justify-content: unset;
    }   
}


.sideImg{
    font-family: $raleway-Reg;
    font-size: 16px;
    color: $text-color;
    margin-top: 22px;
    opacity: 60%;
    @include mobile{
        margin-top: 16px;   
        opacity: 1;
        margin-left: 24px;

    }
}
.barContainer{
    
    max-width: 407px;
    grid-area: bar;
    display: grid;
    grid-template-columns: 45px 45px 300px;
    grid-template-areas: 
        'prevBtn nextBtn bar'
    ;
    margin-left: 81px;
    align-self: end;
    @include tablet{
        margin-left: 0;
        margin-top: 16px;
        max-width: 696px;
        grid-template-columns: 45px 45px 609px;
    }
    @include mobile{
        // align-self: ;
        margin-left: 24px;
        margin-top: 12px;   
        max-width: 327px;
        grid-template-columns: 45px 45px 237px;
    }
}


.nextBtnContainer{
    grid-area: nextBtn;
}
.prevBtnContainer{
    grid-area: prevBtn;
}
.progressBarContainer{
    grid-area: bar;
}