@import '../../../../generalStyles/mixins.scss';
@import '../../../../generalStyles/variables.scss';

.mainImg{
    width: 387px;
    height: 379px;
    border-radius: 189.5px 0px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    @include tablet {
        width: 338px;
        height: 379px;
    }
}

.sideImg{
    width: 184px;
    height: 236px;
    opacity: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    @include mobile{
        width: 154px;
        height: 197px;
        opacity: 1;
        margin-left: 24px;
    }
}