@import '../../generalStyles/mixins.scss';
@import '../../generalStyles/variables.scss';

.container{
    margin-top: 120px;
}

.headContainer{
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'h1 h1 p1'
    ;
}

.h1Module{
    grid-area: h1;
    max-width: 657px;
}
.h1{
    font-family: $newyorker;
    font-weight: 400;
    color: $accent-color;
    font-size: 48px;
}

.pModule{
    grid-area: p1;
    max-width: 404px;
}

.p{
    color: $text-color;
}