@import '../../../generalStyles/mixins.scss';
@import '../../../generalStyles/variables.scss';

.container{
    margin-top: 72px;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'sch sch img'
    ;
}

.schModule{
    grid-area: sch;
}
.imgContainer{
    grid-area: img;
}
.flex{
    display: flex;
    color: $text-color;
    font-size: 14px;
    font-family: $raleway-Reg;
    opacity: 0.5;
    justify-content: space-between;
    max-width: 591px;
    &>div{
        &:hover{
            border-bottom: 2px solid $accent-color;
            padding-bottom: 5px;
        }
    }
}