
$bg-color: #FEFBF7;
$accent-color: #789776;
$add-accent-color: #637D61;
$add-color: #98958B;
$text-color: #5B6158;

$bookman-regular: 'Bookman-400';
$newyorker: 'NewYorkerC-400';
$raleway-Reg: 'Raleway-400';
$raleway-Bold: 'Raleway-600';

$tablet-width: 766px;
$mobile-width: 375px;
$desktop-width:  1194px;

@font-face {
    font-family: 'Bookman-400';
    src: url('../../public/fonts/BookMan-regular.ttf');
}

@font-face {
    font-family: 'NewYorkerC-400';
    src: url('../../public/fonts/NewYorkerC-regular.ttf');
}

@font-face {
    font-family: 'Raleway-400';
    src: url('../../public/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-600';
    src: url('../../public/fonts/Raleway-SemiBold.ttf');
}
