@import '../../generalStyles/variables.scss';
@import '../../generalStyles/mixins.scss';

.container{
    border: 1px solid red;
    margin-top: 115px;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'h1 h1 slider slider'
        'p p slider slider'
        'btn btn slider slider'
        'man man slider slider';
        
    @include tablet{
        margin-top: 77px;
    }
    @include mobile{
        margin-top: 52px;
        justify-content: center;
        grid-template-areas: 
        'h1'
        'slider'
        'p'
        'man';
        
    }
}

.h1Module{
    max-width: 579px;
    
    // display: block;
    grid-area: h1;
    @include tablet{
        max-width: 397px;
    }
    @include mobile{
        max-width: 339px;
    }
}
.pModule{
    max-width: 276px;
    display: block;
    grid-area: p;
    text-align: center;
}
.btnModule{
    display: flex;
    justify-content: end;
    margin-right: 60px;
    grid-area: btn;
    @include tablet{
        margin-right: 32px;
    }
    @include mobile{
        margin-right: 0px;
    }
}
.manualModule{
    
    grid-area: man;
    
}
.h1{
    
    color: $add-accent-color;
    font-family: $newyorker;
    font-size: 84px;
    font-weight: 400;
    @include tablet{
        font-size: 54px;
    }
    @include mobile{
        
        font-size: 48px;
    }
}
.p{
    
    margin-top: 56px;
    font-size: 16px;
    color: $text-color;
    font-family: $raleway-Reg;
    @include mobile{
        
        margin-top: 32px;

    }
}
.slider{
    display: flex;
    justify-content: end;
    grid-area: slider;
    @include mobile{
        font-size: 54px;
    }
}