@import '../../../generalStyles/variables.scss';

.nextBtn{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid $accent-color;
    background-color: $bg-color;
    color: $accent-color;
    &:hover{
        transition: 0.3s;
        background-color: $accent-color;
        color: $bg-color;
    }
}
.buttonsContainer {
    display: flex;
    justify-content: space-between;
}
.prevBtn{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid $accent-color;
    background-color: $bg-color;
    color: $accent-color;
    // margin-left: 26px;
    margin-right: 8px;
    &:hover{
        transition: 0.3s;
        background-color: $accent-color;
        color: $bg-color;
    }
}