@import '../../../generalStyles/variables.scss';
@import '../../../generalStyles/mixins.scss';

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    color: $text-color;
    font-size: 15px;
    font-family: 'Raleway Regular';
    @include tablet {
        font-size: 14px;
        margin-right: 38px;
        margin-left: 10px;
    }
    @include mobile {
        font-size: 12px;
        margin-right: 5px;
        margin-left: 5px;
    }
}
.phone{
    width: 15px;
    height: 15px;
}