@import '../../../generalStyles/mixins.scss';
@import '../../../generalStyles/variables.scss';

.container{
    margin-top: 95px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        'mainRev sideRev'
        'bar bar'
    ;
    justify-content: space-between;
    @include tablet{
        margin-top: 56px;
    }
    @include mobile{
        margin-top: 36px;   
    }
}

.mainRevContainer{
    grid-area: mainRev;
    
}

.sideRevContainer{
    display: grid;
    grid-template-areas: 
        'sideRev1 sideRev2'
    ;
    align-self: center;
    grid-area: sideRev;
    @include tablet{
        align-self: unset;
        margin-top: 15px;
    }
    @include mobile{
        display: none;   
    }
}

.sideRev1{
    grid-area: sideRev1;
}

.sideRev2{
    grid-area: sideRev2;
    @include tablet{
        display: none;
    }
    
}

.barContainer{
    margin-top: 25px;
    max-width: 1194px;
    grid-area: bar;
    display: grid;
    grid-template-columns: 45px 45px 1104px;
    grid-template-areas: 
        'prevBtn nextBtn bar'
    ;
    @include tablet{
        margin-top: 0;
        grid-template-columns: 45px 45px 595px;
    }
    @include mobile{
        grid-template-columns: 45px 45px 245px;
    }
}

.nextBtnContainer{
    grid-area: nextBtn;
}
.prevBtnContainer{
    grid-area: prevBtn;
}
.progressBarContainer{
    grid-area: bar;
}