@import '../../../../../generalStyles/mixins.scss';
@import '../../../../../generalStyles/variables.scss';

.container{
    position: relative;
    height: 421px;
    // margin-left: 50px;
}
.card {
    position: relative;
    width: 247px;
    height: 390px;

    margin-left: 75px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: $bg-color;
    border: 1px solid #CBC8C1;
    .cutout {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        top: 0;
        left: 50%;
        border-radius: 50%;
        border-bottom: 1px solid #CBC8C1;
        background-color: $bg-color;
        clip-path: circle(100% at 50% 100%);
        background-size: 70% 70%;
        background-position: center;
        background-repeat: no-repeat;
    }
    @include tablet{
        width: 245px;
        height: 421px;   
        padding-left: 22px;
        padding-right: 22px;
        margin-left: 55px;
    }

}

.text{
    width: 244px;
    height: 200px;
    color: $text-color;
    font-family: $raleway-Reg;
    font-size: 14px;
    @include tablet{
        height: 255px;
    }
}
.cutoutImg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.name{
    font-size: 14px;
    font-family: $raleway-Reg;
    color: $text-color;
    text-align: center;
    margin: auto;
    @include tablet{
        // font-size: 14px;
    }
}
.line {
    width: 80px;
    height: 2px;
    background-color: $accent-color;
    margin: 24px auto;
    @include tablet{
     margin: 16px auto;
    }
}
.content{
    margin-top: 78px;
}
.footer{
    // margin-top: 24px;
    display: grid;
    grid-template-areas: 
        'more date'
    ;
    justify-content: space-between;
}
.date{
    font-family: $raleway-Reg;
    font-size: 14px;
    color: $text-color;
}
.more{
    cursor: pointer;
    text-decoration: underline;
    font-family: $raleway-Reg;
    font-size: 14px;
    color: $text-color;
}