@import '../../../generalStyles/mixins.scss';
@import '../../../generalStyles/variables.scss';

.container{
    display: flex;
    justify-content: center;
    column-gap: 26px;
    width: 589px;
    &>li{
        
        &>a{
            font-size: 12px;
            color: $bg-color;
            font-family: $raleway-Reg;
            font-weight: 400;
        }
        @include tablet{
            margin-top: 12px;
            height: 14px;
            
        }
        @include mobile{
            margin-top: 14px;
            height: 14px;
        }
    }
    @include tablet{
        width: 100%;
        display: block;
        & > li:first-child {
            margin-top: 0;
        }
    }
    @include mobile{
        width: 100%;
        display: block;
        justify-self: end;
        & > li:first-child {
            margin-top: 0;
        }
    }
}