@import '../../../../generalStyles/mixins.scss';

.slider{
    width: 346px;
    height: 493px;
    border-radius: 173px 173px 192.5px 0px;
    transition: 0.5s ease;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include tablet{
        width: 312px;
        height: 422px;
        border-radius: 156px 156px 156px 0px;
        
    }
    @include mobile{
        width: 327px;
        height: 258px;
        border-radius: 129px 0px 0px 0px;
    }
}