@import './generalStyles/variables.scss';
@import './generalStyles/mixins.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  background-color: $bg-color;
  scroll-behavior: smooth;
}

a {
  color: $text-color;
}

*,
*::after,
*::before {
  
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
}

.wrapConteiner{
  margin: auto;
  margin-top: 20px ;
  // border: 1px solid  red;
  position: relative;
  max-width: 1194px;
  
  @include tablet{
    max-width: 768px;
    
  }
  @include mobile{
    max-width: 375px;
    
  }
}