@import '../../../../generalStyles/variables.scss';
@import '../../../../generalStyles/mixins.scss';

.container{
    display: grid;
    gap: 24px;
    margin-left: 19px;
    & > div {
        display: flex;
        align-items: center;
    }
    @include tablet{
        gap: 10px;
        margin-left: 2px;
        
    }
    @include mobile{
        gap: 8px;
        margin-left: 14px;
        
    }
}
.text{
    max-width: 153px;
    margin-left: 8px;

    color: $text-color;
    font-family: $raleway-Reg;
    font-size: 14px;
    font-weight: 400;
    @include tablet{
        margin-left: 7.5px;
        font-size: 12px;

    }
    @include mobile{
        font-size: 13px;
        margin-left: 8px;

        
    }
}
.number{
    color: $add-accent-color;
    font-family: $newyorker;
    font-size: 36px;
    font-weight: 400;
    @include tablet{
        
        font-size: 32px;

    }
    @include mobile{
        font-size: 32px;

        
    }
}