@import '../../../../generalStyles/variables.scss';

.container{
    display: grid;
    gap: 24px;
    margin-left: 19px;
    & > div {
        display: flex;
        align-items: center;
    }
}
.text{
    max-width: 153px;
    margin-left: 8px;

    color: $text-color;
    font-family: $raleway-Reg;
    font-size: 14px;
    font-weight: 400;
}
.number{
    color: $add-accent-color;
    font-family: $newyorker;
    font-size: 36px;
    font-weight: 400;
}